# TEST NOTEBOOK

This is just a test notebook, nothing important here to see

## Modules

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('A' 'B' 'C' 'D'))

In [3]:
df

     A   B   C   D
0   88  10  36  59
1   99  70  33  13
2   57  94  59   9
3   69  35  30  13
4   38  82  32  30
..  ..  ..  ..  ..
95  85  38   6  56
96  52  87  26  82
97  91  96  99  24
98  73  85  94  27
99  53  98  54  10

[100 rows x 4 columns]

In [4]:
df.to_pickle('df_pickle.pkl')

In [5]:
df.to_csv('df_csv.csv')